{% extends "layout.html" %}
  {% block content %}
  <div class="row" style="margin-top:100px">



    <div style=" justify-content: center;">
    
   
    <div style= "display: flex;">

   
  
 
      <fieldset>
               
        <form method="POST">
            {{ form.hidden_tag() }}
            
            <center> <legend style="color: #fff" >Building Selection</legend></center>
           
              <div style="margin: 10px;">
                <ul>
                 <li><div class="form-group">
                    <font color="#fff">{{ form. buildingName.label(class="form-control-label") }}</font>

                    {% if form. buildingName.errors %}
                        {{ form. buildingName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form. buildingName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form. buildingName(class="form-control form-control-lg") }}
                    {% endif %}
                    </ul>
                </li>
            
           
               <div>
                  <div class="form-group">
               <center> {{ form.submit(class="btn-show-contact10") }}</center>
            </small>
            </div>
            
              
            
             
            
            
                
         </ul>
        
         </fieldset>
         </div>
         <ul>
         
        
    
           
            </ul>
               
        </form>
        
         <div style="margin: 10px">
					<center><a href="{{ url_for('choices') }}"><button class="btn-show-contact1">
				  Back
				</button></center>
				</div>
        
    </div>
   
    </div>
    
{% endblock content %}