{% extends "layout.html" %}
  {% block content %}
  <div class="row" style="margin-top:100px">



    <div style=" justify-content: center;">
    
   
    <div style= "display: flex;">

   
  
 
      <fieldset>
               
        <form method="POST">
            {{ form.hidden_tag() }}
            
            <center> <legend style="color: #fff" >Change Password</legend></center>
           
              <div style="margin: 10px;">
                <ul>
                 <li><div class="form-group">
                    <font color="#fff">{{ form. oldpassword.label(class="form-control-label") }}</font>

                    {% if form. oldpassword.errors %}
                        {{ form. oldpassword(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form. oldpassword.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form. oldpassword(class="form-control form-control-lg") }}
                    {% endif %}
                </li>
                <ul>
                 
                <li><div class="form-group">
                    <font color="#fff"> {{ form.newpassword.label(class="form-control-label") }}</font>
                    {% if form.newpassword.errors %}
                        {{ form.newpassword(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.newpassword.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.newpassword(class="form-control form-control-lg") }}
                    {% endif %}
                </div></li>
                <li>
                
                   <li><div class="form-group">
                    <font color="#fff"> {{ form.confirmpassword.label(class="form-control-label") }}</font>
                    {% if form.confirmpassword.errors %}
                        {{ form.confirmpassword(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirmpassword.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirmpassword(class="form-control form-control-lg") }}
                    {% endif %}
                </div></li>
                <li>
              
               
                  <div class="form-group">
               <center> {{ form.submit(class="btn-show-contact10") }}</center>
            
            </small>
            </div>
            
             
            
            
                
         </ul>
         
         </fieldset>
         </div>
         <ul>
         
        
    
           
            </ul>
               
        </form>

					<center><a href="{{ url_for('manageacc') }}"><button class="btn-show-contact10">
				  Back
				</button></center>
        
    </div>
   
    </div>
    
{% endblock content %}