{% extends "layout.html" %}
{% block content %}

<fieldset class="contact100-choices">
	<div style="margin: 25px;">
					<a href="{{url_for('startstop',worktype='maintainence')}}"><button class="btn-show-contact100">
				  Maintenance
				</button>
			</div>

			<div style="margin: 25px">
				<a href="{{url_for('startstop',worktype='apartmentrehab')}}"><button class="btn-show-contact100">
				  Apt Rehab
				</button>
			</div>
				
			<div style="margin: 25px">
				<a href="{{url_for('startstop',worktype='landscaping')}}"><button class="btn-show-contact100">
				  Landscaping
				</button>
			</div>
			
			<div style="margin: 25px">
				<a href="{{url_for('startstop',worktype='pestcontrol')}}"><button class="btn-show-contact100">
				 PestControl
				</button>
			</div>
			
			<div style="margin: 25px">
				<a href="{{url_for('startstop',worktype='others')}}"><button class="btn-show-contact100">
				  Others
				</button>
				</div>
			<div style="margin: 25px">
				<center>	<a href="{{ url_for('front') }}"><button class="btn-show-contact10">
				  Back
				</button></center>
				</div>
			</fieldset>
{% endblock content %}