{% extends "layout.html" %}
  {% block content %}
  <div class="row" style="margin-top:100px">



    <div style=" justify-content: center;">
    
   
    <div style= "display: flex;">

   
  
 
      <fieldset>
               
        <form method="POST">
            {{ form.hidden_tag() }}
            
            <center> <legend style="color: #fff" >Enter your Email</legend></center>
           
              <div style="margin: 10px;">
                <ul>
                 <li><div class="form-group">
                    <font color="#fff">{{ form. email.label(class="form-control-label") }}</font>

                    {% if form. email.errors %}
                        {{ form. email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form. email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form. email(class="form-control form-control-lg") }}
                    {% endif %}
                    </ul>
                </li>
            
           
               
                  <div class="form-group">
               <center> {{ form.submit(class="btn-show-contact10") }}</center>
            </small>
            </div>
            
             <div class="border-top pt-3">
        <center><small class="text-muted">
           <font color="#fff">Want to go back to main page?</font> <a class="btn-show-word" href="{{ url_for('home') }}">Home</a>
        </small></center>
    </div>
            
             
            
            
                
         </ul>
         
         </fieldset>
         </div>
         <ul>
         
        
    
           
            </ul>
               
        </form>
        
    </div>
   
    </div>
    
{% endblock content %}