{% extends "layout.html" %}
{% block content %}

<fieldset class="contact100-choices">
	<div style="margin: 25px;">
					<a href="{{url_for('choices')}}"><button class="btn-show-contact1000">
				  Forms
				</button>
			</div>

			<div style="margin: 25px">
				<a href="{{url_for('manageacc')}}"><button class="btn-show-contact1000">
				  Manage Account
				</button>
			</div>
				
	<!--  
	<div style="margin: 25px">
				<a href="{{url_for('startstop',worktype='landscaping')}}"><button class="btn-show-contact100">
				 Log out
				</button>
			</div>
			
			<div style="margin: 25px">
				<a href="{{url_for('startstop',worktype='pestcontrol')}}"><button class="btn-show-contact100">
				 PestControl
				</button>
			</div>
			
			<div style="margin: 25px">
				<a href="{{url_for('startstop',worktype='others')}}"><button class="btn-show-contact100">
				  Others
				</button>
				</div> 
				-->
			<div style="margin: 25px">
					<a href="{{ url_for('logout') }}"><button class="btn-show-contact1000">
				  Log Out
				</button>
				</div>
			</fieldset>
{% endblock content %}