{% extends "layout.html" %}
{% block content %}
<div style="margin-top:-140px;">
<div class="contact100-home ">
	<div style="margin-right: 30px; margin-top:20px; margin-bottom: 30px;">
				<center><a href="{{ url_for('login') }}"><button class="btn-show-contact100">
				  Log In
				  </button>
				</a></center>
			</div>
			
			<div style="margin-right: 30px; margin-top:20px; margin-bottom: 30px;">
			<center><a href="{{ url_for('register') }}">
				<button class="btn-show-contact100">
				  Sign Up
				</button></a></center>
			</div>
			</div>
			</div>
{% endblock content %}