{% extends "layout.html" %}
{% block content %}
 
 <div style=" justify-content: center; display: flex;">
 <fieldset>
  <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
                    
                     <div style="margin: 10px;">
                    <li><div class="form-group">
                     <font color="#fff"> {{ form.endTime.label(class="form-control-label") }}</font>
                    {% if form.endTime.errors %}
                        {{ form.endTime(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.endTime.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.endTime(class="form-control form-control-lg") }}
                    {% endif %}
                </div> </div></li>
                    
                    
                     
                     <div style="margin: 10px;">
                    <li><div class="form-group">
                     <font color="#fff"> {{ form.landscapingType.label(class="form-control-label") }}</font>
                    {% if form.landscapingType.errors %}
                        {{ form.landscapingType(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.landscapingType.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.landscapingType(class="form-control form-control-lg") }}
                    {% endif %}
                </div> </div></li>
                
                
                   <div style="margin: 10px;">
                    <li><div class="form-group">
                     <font color="#fff"> {{ form.description.label(class="form-control-label") }}</font>
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div> </div></li>
                
                                     <div style="margin: 10px;">   <li>   
                    <div class="form-group">
                    <font color="#fff"> {{ form.picture.label() }}</font>
                     <center><font color="#fff"> {{ form.picture(class="form-control-file") }}</font></center>
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                    
                </div>
                </li></div>
                
                
                
                 <li>     <div class="form-group">
               <center> {{ form.submit(class="btn-show-contact100") }}</center>
            </div></li>
            
            </form>
          
            	
                </fieldset>
                </div>
                  <center><a href="{{ url_for('choices') }}"><button class="btn-show-contact10">
				  Back
				  </button>
				</a></center>
                
                
                    
                    
{% endblock content %}