{% extends "layout.html" %}
{% block content %}

<fieldset class="contact100-choices">
	<div style="margin: 25px;">
					<a href="{{url_for('changepass')}}"><button class="btn-show-contact1000">
				  Change Password
				</button>
			</div>

			<div style="margin: 25px">
				<a href="{{url_for('changeemail')}}"><button class="btn-show-contact1000">
				 Change Email
				</button>
			</div>
			<div style="margin: 25px">
					<a href="{{ url_for('changephone') }}"><button class="btn-show-contact1000">
				  Change Phone
				</button>
				</div>
				
        <div style="margin: 25px">
					<center><a href="{{ url_for('front') }}"><button class="btn-show-contact10">
				  Back
				</button></center>
				</div>
				
	
			
			</fieldset>
{% endblock content %}