{% extends "layout.html" %}
{% block content %}
 
 <div style=" justify-content: center; display: flex;margin-top:100px">
 <fieldset>
  <form method="POST">
            {{ form.hidden_tag() }}        
                <div style="margin: 10px;">
                    <li><div class="form-group">
                     <font color="#fff"> {{ form.unitName.label(class="form-control-label") }}</font>
                    {% if form.unitName.errors %}
                        {{ form.unitName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.unitName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.unitName(class="form-control form-control-lg") }}
                    {% endif %}
                </div> </div></li>
                
                 <div style="margin: 10px;">
                    <li><div class="form-group">
                     <font color="#fff"> {{ form.startTime.label(class="form-control-label") }}</font>
                    {% if form.startTime.errors %}
                        {{ form.startTime(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.startTime.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.startTime(class="form-control form-control-lg") }}
                    {% endif %}
                </div> </div></li>
                
                 <li>     <div class="form-group">
               <center> {{ form.submit(class="btn-show-contact100") }}</center>
            </div></li>
            
            </form>
          
            	
                </fieldset>
                </div>
                  <center><a href="{{ url_for('choices') }}"><button class="btn-show-contact10">
				  Back
				  </button>
				</a></center>
                
                
                    
                    
{% endblock content %}